@media (prefers-color-scheme: light) {
    body {
	background-color: #f0f0f0;
	color: #333;
    }

    input,
    select {
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
    }
}

@media (prefers-color-scheme: dark) {
    body {
	background-color: #333;
	color: #f0f0f0;
    }

    input,
    select {
	color: #f0f0f0;
	background-color: #444;
	border: 1px solid #666;
    }
}

body,
select,
input {
    font-family: sans-serif;
}

body {
    text-align: center;
    font-weight: bold;
}

.container {
    max-width: 500px;
    margin: auto;
}

input,
select {
    margin: 16px 0;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
}

.result {
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
}
