@media (prefers-color-scheme: light) {
    body {
        background-color: #f0f0f0;
        color: #333;
    }

    input,
    select {
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
    }

    a {
        color: #0000ee;
        text-decoration: none;
    }

    a:visited {
        color: #ee00ee;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #f0f0f0;
    }

    input,
    select {
        color: #f0f0f0;
        background-color: #444;
        border: 1px solid #666;
    }

    a {
        color: #00ffff;
        text-decoration: none;
    }

    a:visited {
        color: #ee0077;
    }
}

body {
    font-family: serif;
    padding: 2rem;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

header,
footer {
    margin: 0rem;
    padding: 0rem;
}

header ol,
footer ol,
menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header li:not(:last-child)::after,
footer li:not(:last-child)::after,
menu li:not(:last-child)::after {
    display: inline-block;
    content: "／";
}