@media (prefers-color-scheme: light) {
    body {
        background-color: #f0f0f0;
        color: #333;
    }

    input,
    select {
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
    }

    a {
        color: #0000ee;
        text-decoration: none;
    }

    a:visited {
        color: #ee00ee;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #f0f0f0;
    }

    input,
    select {
        color: #f0f0f0;
        background-color: #444;
        border: 1px solid #666;
    }

    a {
        color: #00ffff;
        text-decoration: none;
    }

    a:visited {
        color: #ee0077;
    }
}

body {
    font-family: serif;
    padding: 2rem;
}

header {
    text-align: left;
}

footer {
    text-align: right;
}

header,
footer {
    padding: 0.5rem 2rem;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

p:lang(ja) {
    text-indent: 1rem;
}

p:lang(en) {
    text-indent: 2rem;
}

nav,
ol {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li::after {
    content: "＞";
}

nav li:last-child::after {
    content: "";
}