@media (prefers-color-scheme: light) {

    button,
    select,
    textarea {
        background-color: #f0f0f0;
        color: #333;
        border-color: #f0f0f0;
    }

    textarea,
    select {
        border-color: #333;
    }
}

@media (prefers-color-scheme: dark) {

    button,
    textarea,
    select {
        background-color: #333;
        color: #f0f0f0;
        border-color: #333;
    }

    textarea,
    select {
        border-color: #f0f0f0;
    }
}

body {
    text-align: center;
}

table,
textarea {
    font-family: "silwki";
    margin: auto;
}

.key {
    font-family: "silwki";
    width: 40px;
    height: 40px;
    position: relative;
    font-size: 1rem;
}

.key .shifted {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 0.75rem;
}

.key .no-shifted {
    position: absolute;
    bottom: 2px;
    left: 2px;
    font-size: 1rem;
}

.space {
    width: 120px;
}