@media (prefers-color-scheme: light) {

    button,
    select,
    textarea {
        background-color: #f0f0f0;
        color: #333;
        border-color: #f0f0f0;
    }

    textarea {
        border-color: #333;
    }
}

@media (prefers-color-scheme: dark) {

    button,
    textarea,
    select {
        background-color: #333;
        color: #f0f0f0;
        border-color: #333;
    }

    textarea {
        border-color: #f0f0f0;
    }
}

body {
    text-align: center;
}

table {
    margin: auto;
}

textarea {
    font-family: "zosokw";
}

button {
    font-family: "zosokw";
    font-size: 1rem;
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
}

.space {
    width: 100%;
}