rt {
    font-variant-east-asian: ruby;
}

main ol {
    list-style-type: none;
    counter-reset: chapter;
}

main ol li {
    counter-increment: chapter;
}

main ol li::before {
    content: "第" counter(chapter, japanese-informal) "話\3000";
}

section {
    line-height: 1.8;
    text-align: justify;
}

section p {
    display: inline;
}

section p:not(:last-child)::after {
    content: "¶";
}

section::first-letter {
    initial-letter: 2;
    -webkit-initial-letter: 2;
    font-weight: bold;
}