body {
    font-family: serif;
    text-align: center;
    padding: 2rem;
}

h1 {
    text-transform: capitalize;
}

p {
    font-weight: normal;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

a:hover,
label:hover {
    text-decoration: underline;
}

button,
input {
    font-family: serif;
    height: auto;
    width: auto;
    border-radius: 0rem;
}

button:active {
    text-shadow: none;
}

table {
    margin: 0 auto;
}

header,
footer {
    text-align: center;
}

rt {
    font-family: serif;
    font-variant-east-asian: ruby;
}

figure {
    display: block;
    text-align: center;
}

figure object {
    display: inline-block;
    width: auto;
    height: auto;
}

nav,
ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

ul li::after {
    content: "\FF1E";
}

ul li:last-child::after {
    content: "";
}
