@keyframes fadeIn {
    from {
        fill-opacity: 0;
    }

    to {
        fill-opacity: 1;
    }
}

@keyframes spinCenter {
    from {
        transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
    }

    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}


@keyframes spinMain {
    from {
        transform: rotateX(0deg)  rotateY(0deg) rotateZ(360deg);
    }

    to {
        transform: rotateX(0deg)  rotateY(0deg) rotateZ(0deg);
    }
}

@keyframes spinOthers {
    from {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-360deg);
    }

    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

@keyframes spinEmblem {
    from {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(720deg);
    }

    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

svg * {
    transform-origin: center;
    fill-opacity: 0;
    animation: fadeIn 2.5s forwards;
}

.center {
    animation: fadeIn 2.5s forwards, spinCenter 2.5s forwards;
}

.east,
.south,
.west,
.north {
    animation: fadeIn 2.5s forwards, spinMain 2.5s forwards;
}

.others {
    animation: fadeIn 2.5s forwards, spinOthers 2.5s forwards;
}

.emblem {
    animation: fadeIn 2.5s forwards, spinEmblem 2.5s forwards;
}

.background {
    fill: #8f8f8f;
}

.east {
    fill: #00ffff;
}

.south {
    fill: #ff0000;
}

.west {
    fill: #ffffff;
}

.north {
    fill: #000000;
}

.center {
    fill: #ffff00;
}

.others {
    fill: #c8c8c8;
}

.emblem {
    fill: #daa520;
}
