text {
    text-anchor: middle;
}

.cases,
.part-of-speech {
    font-family: serif;
    dominant-baseline: hanging;
}

.pronunciation {
    font-family: monospace;
    dominant-baseline: hanging;
}

.script {
    dominant-baseline: ideographic;
}