@font-face {
    font-family: 'kodito';
    src: url('../../fonts/kodito.ttf') format('truetype');
}

@font-face {
    font-family: 'lekuta';
    src: url('../../fonts/lekuta.ttf') format('truetype');
}

@font-face {
    font-family: 'lozegw';
    src: url('../../fonts/lozegw.ttf') format('truetype');
}

@font-face {
    font-family: 'makina';
    src: url('../../fonts/makina.ttf') format('truetype');
}

@font-face {
    font-family: 'piswpi';
    src: url('../../fonts/piswpi.ttf') format('truetype');
}

@font-face {
    font-family: 'polwgo';
    src: url('../../fonts/polwgo.ttf') format('truetype');
}

@font-face {
    font-family: 'lozegw';
    src: url('../../fonts/lozegw.ttf') format('truetype');
}

@font-face {
    font-family: 'silwki';
    src: url('../../fonts/silwki.ttf') format('truetype');
}

@font-face {
    font-family: 'sulive';
    src: url('../../fonts/sulive.ttf') format('truetype');
}

@font-face {
    font-family: 'xavani';
    src: url('../../fonts/xavani.ttf') format('truetype');
}

@font-face {
    font-family: 'xesada';
    src: url('../../fonts/xesada.ttf') format('truetype');
}

@font-face {
    font-family: 'xidili';
    src: url('../../fonts/xidili.ttf') format('truetype');
}

@font-face {
    font-family: 'zosokw';
    src: url('../../fonts/zosokw.ttf') format('truetype');
}

@font-face {
    font-family: 'DoulosSIL';
    src: url('../../fonts/DoulosSIL-Regular.ttf') format('truetype');
}

.kodito {
    font-family: 'kodito';
}

.lekuta {
    font-family: 'lekuta';
}

.lozegw {
    font-family: 'lozegw';
}

.makina {
    font-family: 'makina';
}

.piswpi {
    font-family: 'piswpi';
}

.polwgo {
    font-family: 'polwgo';
}

.silwki {
    font-family: 'silwki';
}

.sulive {
    font-family: 'sulive';
    font-feature-settings: "calt" 1
}

.xavani {
    font-family: 'xavani';
}

.xesada {
    font-family: 'xesada';
}

.xidili {
    font-family: 'xidili';
}

.zosokw {
    font-family: 'zosokw';
    font-feature-settings: "calt" 1;
}

.pronunciation {
    font-family: 'DoulosSIL';
    font-feature-settings: "ss11" 1, "ss12" 1, "cv98" 1;
}