body {
    padding: 2rem;
    font-family: serif;
    writing-mode: horizontal-tb;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

rt {
    font-family: serif;
    font-variant-east-asian: ruby;
}

dl {
    column-count: 2;
    column-rule-style: solid;
}

dl dt,
dl dd {
    break-inside: avoid;
}

figure {
    text-align: center;
}

hr {
    height: 0.25rem;
    border-width: 0;
}

table {
    text-align: center;
    margin: auto;
}