body {
    padding: 2rem;
    font-family: serif;
    writing-mode: horizontal-tb;
    counter-reset: chapter figure table;
}

nav {
    counter-reset: toc-chapter;
}

nav > ol > li {
    counter-increment: toc-chapter;
    counter-reset: toc-section;
    list-style: none;
}

nav > ol > li > ol > li {
    counter-increment: toc-section;
    counter-reset: toc-subsection;
    list-style: none;
}

nav > ol > li > ol > li > ol > li {
    counter-increment: toc-subsection;
    counter-reset: toc-subsubsection;
    list-style: none;
}

nav > ol > li > ol > li > ol > li > ol > li {
    counter-increment: toc-subsubsection;
    list-style: none;
}

nav > ol > li::before {
    content: "第" counter(toc-chapter, japanese-informal) "章\3000";
}

nav > ol > li > ol > li::before {
    content: "第" counter(toc-section, japanese-informal) "節\3000";
}

nav > ol > li > ol > li > ol > li::before {
    content: "第" counter(toc-subsection, japanese-informal) "小節\3000";
}

nav > ol > li > ol > li > ol > li > ol > li::before {
    content: "第" counter(toc-subsubsection, japanese-informal) "図表\3000";
}

body h2 {
    counter-increment: chapter;
    counter-reset: section;
}

body h3 {
    counter-increment: section;
    counter-reset: subsection;
}

body h4 {
    counter-increment: subsection;
    counter-reset: subsubsection;
}

body h5 {
    counter-increment: subsubsection;
}

body h2::before {
    content: "第" counter(chapter, japanese-informal) "章\3000";
}

body h3::before {
    content: "第" counter(section, japanese-informal) "節\3000";
}

body h4::before {
    content: "第" counter(subsection, japanese-informal) "小節\3000";
}

body h5::before {
    content: "第" counter(subsubsection, japanese-informal) "図表\3000";
}

figcaption {
    counter-increment: figure;
}

figcaption::before {
    content: "図" counter(figure, japanese-informal) "\3000";
}

caption {
    counter-increment: table;
}

caption::before {
    content: "表" counter(table, japanese-informal) "\3000";
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

rt {
    font-family: serif;
    font-variant-east-asian: ruby;
}

.table-of-content {
    counter-increment: none;
}

.table-of-content::before {
    content: "";
}

table,
figure {
    text-align: center;
    margin: auto;
}

dt > figure {
    display: inline;
    margin: auto;
}

hr {
    height: 0.125rem;
    border-width: 0;
}

dl dt,
dl dd {
    break-inside: avoid;
}

sup,
sub {
    font-variant-caps: all-small-caps;
}

nav {
    column-count: 1;
    column-rule-style: solid;
}

dl {
    column-count: 1;
    column-rule-style: solid;
}

article {
    line-height: 1.8;
    text-align: justify;
}

article p {
    display: inline;
}

article p:not(:last-child)::after {
    content: "¶";
}

article::first-letter {
    initial-letter: 2;
    -webkit-initial-letter: 2;
    font-weight: bold;
}