body {
    padding: 2rem;
    font-family: serif;
    writing-mode: horizontal-tb;
    text-align: center;
}

p {
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:hover,
label:hover {
    text-decoration: underline;
}

button,
input {
    font-family: serif;
    height: auto;
    width: auto;
    border-radius: 0rem;
}

button:active {
    text-shadow: none;
}

table {
    margin: 0 auto;
}

rt {
    font-family: serif;
    font-variant-east-asian: ruby;
}

.search-options span {
    margin-right: 0.5rem;
}

strong {
    margin-right: 0.25rem;
}

.warning,
.false,
.true {
    font-weight: bold;
}