@font-face {
    font-family: 'kodito';
    src: url('../../fonts/kodito.ttf') format('truetype');
}

@font-face {
    font-family: 'lekuta';
    src: url('../../fonts/lekuta.ttf') format('truetype');
}

@font-face {
    font-family: 'lozegw';
    src: url('../../fonts/lozegw.ttf') format('truetype');
}

@font-face {
    font-family: 'makina';
    src: url('../../fonts/makina.ttf') format('truetype');
}

@font-face {
    font-family: 'piswpi';
    src: url('../../fonts/piswpi.ttf') format('truetype');
}

@font-face {
    font-family: 'polwgo';
    src: url('../../fonts/polwgo.ttf') format('truetype');
}

@font-face {
    font-family: 'lozegw';
    src: url('../../fonts/lozegw.ttf') format('truetype');
}

@font-face {
    font-family: 'silwki';
    src: url('../../fonts/silwki.ttf') format('truetype');
}

@font-face {
    font-family: 'sulive';
    src: url('../../fonts/sulive.ttf') format('truetype');
}

@font-face {
    font-family: 'xavani';
    src: url('../../fonts/xavani.ttf') format('truetype');
}

@font-face {
    font-family: 'xesada';
    src: url('../../fonts/xesada.ttf') format('truetype');
}

@font-face {
    font-family: 'xidili';
    src: url('../../fonts/xidili.ttf') format('truetype');
}

@font-face {
    font-family: 'zosokw';
    src: url('../../fonts/zosokw.ttf') format('truetype');
}

/* 全体 */
body {
    font-family: serif;
    text-align: center;
    padding: 2rem;
}

/* 見出し */
h1 {
    text-transform: capitalize;
}

/* 段落 */
p {
    font-weight: normal;
    text-transform: capitalize;
}

/* ボタン、入力フィールド、リンク */
a {
    text-decoration: none;
}

.elegia {
    font-family: 'piswpi';
}

a:hover {
    text-decoration: underline;
}

button,
input {
    font-family: serif;
    height: auto;
    width: auto;
    border-radius: 0.25rem;
}

button:active {
    text-shadow: none;
}

table {
    margin: 0 auto;
}

header,
footer {
    text-align: center;
}