.cases,
.part-of-speech {
    font-family: serif;
    dominant-baseline: ideographic;
}

.pronunciation {
    font-family: monospace;
    dominant-baseline: ideographic;
}

text {
    text-anchor: middle;
}

.zosokw {
    dominant-baseline: hanging;
}