@media (prefers-color-scheme: light) {

    text,
    polygon,
    rect,
    circle {
        fill: #3b3f3f;
    }

    polyline {
        fill: none;
        stroke: #3b3f3f;
    }
}

@media (prefers-color-scheme: dark) {

    text,
    polygon,
    rect,
    circle {
        fill: #e8e5dd;
    }

    polyline {
        fill: none;
        stroke: #e8e5dd;
    }
}

.cases,
.part-of-speech {
    font-family: serif;
}

.pronunciation{
    font-family: monospace;
}
