body {
    padding: 2rem;
    font-family: serif;
    writing-mode: horizontal-tb;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

rt {
    font-family: serif;
    font-variant-east-asian: ruby;
}

header,
footer {
    text-align: center;
}

.pronunciation {
    font-family: 'Courier New', Courier, monospace;
}

main {
    column-count: 2;
    column-rule-style: solid;
}

main p {
    break-inside: avoid;
}

nav,
ol {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li::after {
    content: "＞";
}

nav li:last-child::after {
    content: "";
}