body {
    padding: 2rem;
    font-family: serif;
    writing-mode: horizontal-tb;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

rt {
    font-family: serif;
    font-variant-east-asian: ruby;
}

header,
footer {
    text-align: center;
}

.pronunciation {
    font-family: monospace;
}

dl {
    column-count: 2;
    column-rule-style: solid;
}

dl dt,
dl dd {
    break-inside: avoid;
}

nav,
ol {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li::after {
    content: "\FF1E";
}

nav li:last-child::after {
    content: "";
}

figure {
    text-align: center;
}

hr {
    height: 0.25rem;
    border-width: 0;
}
