@media (prefers-color-scheme: light) {
    body {
        background-color: #76494c;
        color: #3e3e3e;
    }

    h1,
    h2,
    h3,
    label,
    legend {
        color: #daa520;
    }

    button,
    input,
    fieldset {
        background-color: #76494c;
        color: #daa520;
        border-color: #4fb6b6;
        caret-color: #973c3f;
    }

    a {
        color: #c9b458;
    }

    a:visited {
        color: #973c3f;
    }

    a:hover {
        color: #daa520;
    }

    .warning,
    .off {
        color: red;
    }

    .on {
        color: blue;
    }

    figure {
        background-color: #76494c;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1b1c;
        color: #e8e5dd;
    }

    h1,
    h2,
    h3,
    label,
    legend {
        color: #ffcc70;
    }

    button,
    input,
    fieldset {
        background-color: #1f1b1c;
        color: #e8e5dd;
        border-color: #4fb6b6;
        caret-color: #973c3f;
    }

    a {
        color: #c9b458;
    }

    a:visited {
        color: #ad5a5d;
    }

    a:hover {
        color: #ffcc70;
    }

    .warning,
    .off {
        color: red;
    }

    .on {
        color: blue;
    }

    figure {
        background-color: #1f1b1c;
    }
}
