@media (prefers-color-scheme: light) {
    body {
        color: #3b2f2f;
        background-color: #e3d5b9;
    }

    h1,
    h2,
    h3 {
        color: #d4af37;
    }

    button,
    input {
        color: #3b2f2f;
        background-color: #e3d5b9;
        border-color: #d4af37;
        caret-color: #b0412e;
    }

    a {
        color: #b0412e;
    }

    a:hover {
        color: #d4af37;
    }

    a:visited {
        color: #a45c3f;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1b1c;
        color: #e8e5dd;
    }

    h1,
    h2,
    h3 {
        color: #ffcc70;
    }

    button,
    input {
        color: #e8e5dd;
        background-color: #2b2628;
        border-color: #ffcc70;
        caret-color: #b0412e;
    }

    a {
        color: #b0412e;
    }

    a:hover {
        color: #ffcc70;
    }

    a:visited {
        color: #ad5a5d;
    }
}