@media (prefers-color-scheme: light) {
    body {
        background-color: #76494c;
        color: #3e3e3e;
    }

    h1,
    h2,
    h3,
    header,
    footer,
    label,
    legend {
        color: #daa520;
    }

    button,
    input,
    fieldset {
        background-color: #76494c;
        color: #daa520;
        border-color: #4fb6b6;
        caret-color: #973c3f;
    }

    a {
        color: #c9b458;
    }

    a:visited {
        color: #c0c0c0;
    }

    a:hover {
        color: #daa520;
    }

    .warning {
        color: #ff00ff;
    }

    .off {
        color: #ff0000;
    }

    .on {
        color: #0000ff;
    }

    figure {
        background-color: #76494c;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1b1c;
        color: #e8e5dd;
    }

    h1,
    h2,
    h3,
    header,
    footer,
    label,
    legend {
        color: #ffcc70;
    }

    button,
    input,
    fieldset {
        background-color: #1f1b1c;
        color: #e8e5dd;
        border-color: #4fb6b6;
        caret-color: #973c3f;
    }

    a {
        color: #c9b458;
    }

    a:visited {
        color: #b0b0b0;
    }

    a:hover {
        color: #ffcc70;
    }

    .warning {
        color: #ee00ee;
    }

    .off {
        color: #ee0000;
    }

    .on {
        color: #0000ee;
    }

    figure {
        background-color: #1f1b1c;
    }
}
