@media (prefers-color-scheme: light) {
    body {
        color: #3b2f2f;
        background-color: #f7ebd9;
    }

    button,
    input {
        color: #3b2f2f;
        background-color: #f7ebd9;
        border-color: #d4af37;
        caret-color: #b0412e;
    }

    table,
    thead,
    tbody,
    tfoot,
    th,
    td {
        border-color: #d4af37;
    }

    a {
        color: #b0412e;
    }

    a:hover {
        color: #d4af37;
    }

    a:visited {
        color: #a45c3f;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #e8e5dd;
        background-color: #1b1718;
    }

    button,
    input {
        color: #e8e5dd;
        background-color: #1b1718;
        border-color: #4a3c31;
        caret-color: #b0412e;
    }

    table,
    thead,
    tbody,
    tfoot,
    th,
    td {
        border-color: #4a3c31;
    }

    a {
        color: #b0412e;
    }

    a:hover {
        color: #ffcc70;
    }

    a:visited {
        color: #ad5a5d;
    }
}