@media (prefers-color-scheme: light) {
    body {
        background-color: #fff5e1;
        color: #3b3f3f;
    }

    button,
    input,
    label,
    legend,
    fieldset {
        background-color: #fff5e1;
        color: #3b3f3f;
        border-color: #000000;
        caret-color: #8b8b2b;
    }

    a {
        color: #8b8b2b;
    }

    a:visited {
        color: #973c3f;
    }

    a:hover {
        color: #daa520;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1b1718;
        color: #e8e5dd;
    }

    button,
    input,
    label,
    legend,
    fieldset {
        background-color: #1b1718;
        color: #e8e5dd;
        border-color: #4a4340;
        caret-color: #c9b458;
    }

    a {
        color: #c9b458;
    }

    a:visited {
        color: #ad5a5d;
    }

    a:hover {
        color: #ffcc70;
    }
}

.warning,
.off {
    color: #ff0000;
}

.on {
    color: #0000ff;
}

.pronunciation {
    color: #7f7f7f;
}

main {
    column-rule-color: #4fb6b6;
}