body {
    padding: 2rem;
    font-family: serif;
    writing-mode: horizontal-tb;
    counter-reset: chapter;
}

body h2 {
    counter-increment: chapter;
    counter-reset: section;
}

body h3 {
    counter-increment: section;
}

#toc summary h2,
#toc summary h3 {
    counter-increment: none;
}

#toc summary h2::before,
#toc summary h3::before {
    content: "";
}

body h2::before {
    content: "第" counter(chapter, japanese-informal) "章\3000";
}

body h3::before {
    content: "第" counter(section, japanese-informal) "節\3000";
}

nav {
    counter-reset: toc-chapter;
}

nav h2 {
    counter-increment: toc-chapter;
    counter-reset: toc-section;
}

nav h3 {
    counter-increment: toc-section;
}

nav h2::before {
    content: "第" counter(toc-chapter, japanese-informal) "章\3000";
}

nav h3::before {
    content: "第" counter(toc-chapter, japanese-informal) "章\3000" counter(toc-section, japanese-informal) "節\3000";
}

h1 {
    text-indent: 0rem;
}

h2 {
    text-indent: 0rem;
}

h3 {
    text-indent: 1rem;
}

h4 {
    text-indent: 2rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

rt {
    font-family: serif;
    font-variant-east-asian: ruby;
}

p {
    text-indent: 1rem;
}

header,
footer {
    text-align: center;
}

header nav,
footer nav,
ol {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li::after {
    content: "＞";
}

nav li:last-child::after {
    content: "";
}

details figure,
article table {
    margin: auto;
}

figcaption {
    text-align: center;
}

details img {
    display: block;
    margin: auto;
}