body {
    font-family: serif;
    text-align: center;
    padding: 2rem;
}

h1 {
    text-transform: capitalize;
}

p {
    font-weight: normal;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

a:hover,
label:hover {
    text-decoration: underline;
}

button,
input {
    font-family: serif;
    height: auto;
    width: auto;
    border-radius: 0rem;
}

button:active {
    text-shadow: none;
}

table {
    margin: 0 auto;
}

header,
footer {
    text-align: center;
}

rt {
    font-family: serif;
    font-variant-east-asian: ruby;
}

.search-options span {
    margin-right: 0.5rem;
}

strong {
    margin-right: 0.25rem;
}

.warning,
.off {
    color: red;
    font-weight: bold;
}

.on {
    color: blue;
    font-weight: bold;
}
