table,
thead,
tbody,
tfoot,
th {
    border: solid 2px;
}


td {
    border: solid 1px;
}

table,
thead,
tbody,
tfoot,
th,
td {
    font-family: serif;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: normal;
}

.case,
.part-of-speech,
.pronunciation,
.root {
    text-align: center;
    text-indent: 0rem;
}

.case,
.part-of-speech,
.root {
    font-family: serif;
}

.pronunciation {
    font-family: monospace;
}
