@media (prefers-color-scheme: light) {

    body,
    a {
        color: #000000;
    }

    body {
        background-color: #ffffff;
    }

    rt,
    rt,
    span {
        color: #a41919;
    }
}

@media (prefers-color-scheme: dark) {

    body,
    a {
        color: #b68d4c;
    }

    body {
        background-color: #000000;
    }

    rt,
    rt,
    span {
        color: #ffffff;
    }

    a {
        color: #b68d4c;
    }
}

body {
    font-style: normal;
    padding: 2rem;
    writing-mode: vertical-rl;
    font-family: "Xingkai TC", serif;
}

h1,
p,
span {
    text-orientation: mixed;
    font-weight: normal;

}

h1,
h2,
p,
header,
footer,
a {
    font-weight: bold;
}

span {
    font-family: "hanzipen SC", serif;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

rt {
    font-family: "Sagabonfont Prototype", "KouzanBrushFont", serif;
    font-weight: bold;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "palt";
    font-variant-east-asian: ruby;
}

ruby {
    ruby-position: alternate;
}

nav,
ol {
    list-style: none;
    display: flex;
}

nav li::after {
    content: "\FF1E";
}

nav li:last-child::after {
    content: "";
}