body {
    writing-mode: horizontal-tb;
    font-family: cursive;
    padding: 2rem;
    letter-spacing: 0;
    line-height: 1.25rem;
}

p {
    text-indent: 2rem;
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}