@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }

  .xing {
    background-color: #89bdde;
    border-color: #89bdde;
    text-shadow: 1px 1px #78accd;
  }

  .shen {
    background-color: #708090;
    border-color: #708090;
    text-shadow: 1px 1px #5f6f7f;
  }

  .di {
    background-color: #a06c30;
    border-color: #a06c30;
    text-shadow: 1px 1px #8f5b1f;
  }

  .fang {
    background-color: #808080;
    border-color: #808080;
    text-shadow: 1px 1px #6f6f6f;
  }

  .xiong {
    background-color: #708090;
    border-color: #708090;
    text-shadow: 1px 1px #5f6f7f;
  }

  .quan {
    background-color: #a36647;
    border-color: #a36647;
    text-shadow: 1px 1px #925536;
  }

  #canglong {
    color: #00ffff;
  }

  #zhuque {
    color: #ff0000;
  }

  #qilin {
    color: #ffff00;
  }

  #baihu {
    color: #ffffff;
  }

  #xuanwu {
    color: #000000;
  }

  #xun,
  #kun,
  #gen,
  #gan {
    color: #aaaaaa;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }

  .xing {
    background-color: #234794;
    border-color: #234794;
    text-shadow: 1px 1px #123683;
  }

  .shen {
    background-color: #708090;
    border-color: #708090;
    text-shadow: 1px 1px #5f6f7f;
  }

  .di {
    background-color: #a06c30;
    border-color: #a06c30;
    text-shadow: 1px 1px #8f5b1f;
  }

  .fang {
    background-color: #808080;
    border-color: #808080;
    text-shadow: 1px 1px #6f6f6f;
  }

  .xiong {
    background-color: #708090;
    border-color: #708090;
    text-shadow: 1px 1px #5f6f7f;
  }

  .quan {
    background-color: #a36647;
    border-color: #a36647;
    text-shadow: 1px 1px #925536;
  }

  #canglong {
    color: #00cce8;
  }

  #zhuque {
    color: #ff3838;
  }

  #qilin {
    color: #daa520;
  }

  #baihu {
    color: #ffffff;
  }

  #xuanwu {
    color: #000000;
  }

  #xun,
  #kun,
  #gen,
  #gan {
    color: #aaaaaa;
  }
}

body {
  padding: 1rem;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 5rem;
  font-family: "jiaohan", "Baoli TC";
  font-weight: bold;
}

p {
  font-family: "jiaohan", "Baoli SC";
  font-size: 2rem;
  font-weight: bold;
}

table {
  margin: auto;
}

button {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  border-width: 0.25rem;
  text-align: center;
}

button:active {
  text-shadow: 0px 0px;
}

.xing {
  font-family: "jiaohan", "Xingkai TC";
  border-radius: 3rem;
  font-weight: bold;
}

.di {
  font-family: "jiaohan", "Baoli TC";
  border-radius: 1rem;
  font-weight: bold;
}

.shen {
  font-family: "jiaohan", "Libian TC";
  border-radius: 2rem;
  font-weight: bold;
}

.fang {
  font-family: "jiaohan", "Weibei TC";
  border-radius: 0.5rem;
  font-weight: bold;
}

.quan {
  font-family: "jiaohan", "STKaiti";
  border-radius: 0.25rem;
  font-weight: bold;
  width: auto;
  height: auto;
}

.xiong {
  font-family: "jiaohan", "Libian TC";
  border-radius: 1rem;
  font-weight: bold;
  width: auto;
  height: auto;
}